xterm*VT100.Translations: #override \
                 Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl <Key>C:    copy-selection(CLIPBOARD)
rofi.modi: window,run,ssh,drun
URxvt.perl-ext-common: selection-to-clipboard
URxvt.keysym.C-Shift-V: eval:paste_clipboard
URxvt.keysym.C-Shift-C: eval:selection_to_clipboard
URxvt.font: xft:liberation mono:size=10
URxvt.letterSpace: -1
# font-size perl module is from https://github.com/majutsushi/urxvt-font-size
URxvt.perl-ext-common: default,matcher,font-size
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
urxvt*foreground: white
urxvt*background: black
*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
